p{
	margin-top:1.0pt;
    font-size: 15px; 
	line-height: 33px;
	font: 15px Arial, sans-serif;
}


h1.small-caps{
	
	font: 50px serif;
	font-style: italic;
	font-stretch: expanded;
	
}


body{
	
	background-color:lightblue;
	opacity: 1.0;
	
}

h2{
    color: darkmagenta;
    font-style: italic; 
}

.mydivs{
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
div p{
    color: red;
}

.mycube{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    opacity: 0.4;
    position: absolute;
    padding: 20px;
}